# ---------------------------------
# Application Configuration
# ---------------------------------
# Environment mode: development, production, or test
NODE_ENV=development

# The port your API server will run on.
PORT=3000

# ---------------------------------
# Frontend & API URLs
# ---------------------------------
# The full URL for your frontend application
FRONTEND_URL=http://localhost:5173

# ---------------------------------
# Database Configuration (PostgreSQL)
# ---------------------------------
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/comments_spa

# ---------------------------------
# Google Cloud Storage (GCS)
# ---------------------------------
# Your Google Cloud project ID
GCS_PROJECT_ID=your-gcs-project-id

# The name of your GCS bucket
GCS_BUCKET_NAME=your-gcs-bucket-name

# The path to your GCS JSON key file
GCS_KEY_FILE=gcs-credentials.json

# ---------------------------------
# Google reCAPTCHA v2
# ---------------------------------
# Your reCAPTCHA secret key
# RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key